.homeDetails {
  background-image: linear-gradient(
      rgba(233, 233, 233, 0.76),
      rgba(230, 230, 230, 0.76)
    ),
    url(/images/lesson.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #2b2b2b;
}

.map {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.hours {
  position: relative;
  /* padding-bottom: 75%; */
}

.hoursInner {
  margin: 0;
  position: absolute;
  top: 15%;
  left: 0;

  width: 100%;
}

.hours p {
  justify-self: center;
  text-align: left;
  padding: 30px 55px 0 55px;
  line-height: 150%;
}

.hours p i {
  margin-right: 8px;
}
