.mealPhoto {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.mealPhoto img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.mealPhoto img:hover {
    transform: scale(1.03);
    opacity: 1;
}