.Toolbar {
    background-color: rgb(71, 71, 71);
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  
  .Logo {
    /* height: 80%; */
    flex-grow: 2;
  }
  
  
  @media (max-width: 499px) {
    .DesktopOnly {
      display: none;
    }
  }