.Toolbar {
  /* background-color: rgb(71, 71, 71); */
  width: 100%;
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
  padding: 0 20px;
  height: 120px;
}

.Sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 20px;
  background-color: rgba(255, 255, 255, 0.973);
  box-shadow: 0 2px 2px rgb(236, 236, 236);
  z-index: 199;
  height: 60px;
  animation: moveDown 0.5s ease-in-out;
}

.Logo {
  /* flex-grow: 1; */
  height: 80%;
}

.innerToolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}

@media (max-width: 767px) {
  .DesktopOnly {
    display: none;
  }
  
  .Toolbar {
    height: 70px;
  }
}
