.sectionMeals {
    padding: 0;
}

.mealsShowcase {
    list-style: none;
    width: 100%;
}

.mealsShowcase li {
    display: block;
    float: left;
    width: 25%;
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}